[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-swagger = "*"
flask-jwt-extended = "*"
flask-mongoengine = "*"
flask-cors = "*"
python-dotenv = "*"
markupsafe = "==2.0.1"
pymango = {extras = ["srv"], version = "*"}
sqlalchemy = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "python server.py"
migrate = "flask db migrate"
upgrade = "pipenv update"
